.form {
  display: flex;
  height: 100vh; /* Effectively makes form take up whole vertical height of viewport */
  padding: 20px;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title,
.start,
.duration {
  margin-bottom: 5px;
}

.input {
  width: 120px;
  padding: 5px;
  margin-bottom: 20px;
}

.button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  background-color: #4caf50; /* Green */
  color: white;
  cursor: pointer;
}

.button:hover {
  background-color: #45a049;
}
