.event {
  position: absolute;
  left: 50px;
  width: 100%;
  max-width: 200px;
  padding: 1px;
  border-left: 4px solid #6e9ecf;
  overflow: hidden;
  font-size: 14px;
  text-overflow: ellipsis;
  list-style: none;
  color: #000;
  background-color: #e2ecf5;
  cursor: pointer;
}
