.container {
  display: flex;
  height: 50px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.link:hover {
  text-decoration: underline;
  color: #96aac2;
  scale: 1.1;
}
